In [1]:
import pandas as pd

In [2]:
df_from_json = pd.read_json("../03/demos/example-1.json")
df_from_json

   Column 1  Column 2
0         1         2
1         3         4
2         5         6

In [3]:
json_string = df_from_json.to_json()
json_string

'{"Column 1":{"0":1,"1":3,"2":5},"Column 2":{"0":2,"1":4,"2":6}}'

In [4]:
df_from_json = pd.read_json("../03/demos/example-2.json")
df_from_json

   Column 1  Column 2
0         1         2
1         3         4
2         5         6

In [5]:
df_csv = pd.read_csv("../03/demos/example-1.csv")
df_csv

     Branch       Date  Amount
0  Branch A  January 1   500.0
1  Branch B  January 2   250.0
2  Branch A  January 3   300.0

In [7]:
df_csv = pd.read_csv("../03/demos/example-2.csv")
df_csv

   Branch A  January 1  500.00
0  Branch B  January 2   250.0
1  Branch A  January 3   300.0

In [8]:
df_csv = pd.read_csv("../03/demos/example-2.csv", header=None)
df_csv

          0          1      2
0  Branch A  January 1  500.0
1  Branch B  January 2  250.0
2  Branch A  January 3  300.0

In [9]:
df_csv = pd.read_csv("../03/demos/example-2.csv", header=["col1", "col2"])
df_csv

ValueError: header must be integer or list of integers

In [10]:
df_csv.to_csv("data.csv")

In [11]:
df_csv.to_csv("data1.csv", index=None)

In [12]:
df_csv.to_csv("data2.csv", index=None, header=None)