In [1]:
import pandas as pd

In [3]:
df_sales = pd.DataFrame(columns=["Date", "Amount"])
df_sales

Empty DataFrame
Columns: [Date, Amount]
Index: []

In [4]:
new_data = {
    "Date" : ["Jan1", "Jan2"],
    "Amount" : [500.0, 600.0]
}

df_new_data = pd.DataFrame(new_data)
df_new_data

   Date  Amount
0  Jan1   500.0
1  Jan2   600.0