In [1]:
import pandas as pd

In [2]:
column_names = [
    "Date of Transaction",
    "Branch Name",
    "Amount of Sales",
    "Is Active"
]

df_primary = pd.DataFrame(columns=column_names)

df_primary

Empty DataFrame
Columns: [Date of Transaction, Branch Name, Amount of Sales, Is Active]
Index: []

In [3]:
default_data = {
    "Date of Transaction": ["January 1", "January 2"],
    "Branch Name": ["Branch A", "Branch B"],
    "Amount of Sales": [500.00, 600.00],
    "Is Active": [True, False]
}

df_default_data = pd.DataFrame(default_data)

df_default_data

  Date of Transaction Branch Name  Amount of Sales  Is Active
0           January 1    Branch A            500.0       True
1           January 2    Branch B            600.0      False

In [4]:
df_primary = pd.concat([df_primary, df_default_data])

df_primary

  Date of Transaction Branch Name Amount of Sales Is Active
0           January 1    Branch A           500.0      True
1           January 2    Branch B           600.0     False