In [1]:
import pandas as pd

In [2]:
df_sales = pd.DataFrame(columns=["Date", "Amount"])

df_sales

Empty DataFrame
Columns: [Date, Amount]
Index: []

In [3]:
new_data = {
    "Date": ["January 1", "January 2"],
    "Amount": [500.00, 600.00]
}

df_new_data = pd.DataFrame(new_data)

df_new_data

        Date  Amount
0  January 1   500.0
1  January 2   600.0

In [4]:
df_sales = pd.concat([df_sales, df_new_data])

df_sales

        Date Amount
0  January 1  500.0
1  January 2  600.0

In [5]:
new_column_names = ["Transaction Date", "Sales Amount"]

df_sales.columns = new_column_names

df_sales

  Transaction Date Sales Amount
0        January 1        500.0
1        January 2        600.0

In [6]:
new_column_data = {
    "Location": ["Store A", "Store B"]
}

df_column_data = pd.DataFrame(new_column_data)

df_sales = pd.concat([df_sales, df_column_data], axis=1)

df_sales

  Transaction Date Sales Amount Location
0        January 1        500.0  Store A
1        January 2        600.0  Store B