In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /Users/nitirajrathore/.pyenv/versions/3.12.1/lib/python3.12/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /Users/nitirajrathore/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('data.txt')

  name  age
0    A   30
1    B   20
2    C   40

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/02 19:32:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('data.txt')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [9]:
df_pyspark.show()

+----+---+
| _c0|_c1|
+----+---+
|name|age|
|   A| 30|
|   B| 20|
|   C| 40|
+----+---+

In [17]:
df_pyspark1 = spark.read.option('header','true').csv('data.txt')

In [18]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark1.head(2)

[Row(name='A', age='30'), Row(name='B', age='20')]

In [22]:
df = df_pyspark1

In [23]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

In [24]:
# read the dataset
df = spark.read.option('header', 'true').csv('data.csv')

In [25]:
df.show()

+----+---+---+
|name|age|exp|
+----+---+---+
|   A| 30|  3|
|   B| 20|  4|
|   C| 40|  5|
+----+---+---+

In [26]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- exp: string (nullable = true)

In [27]:
df = spark.read.option('header', 'true').csv('data.csv', inferSchema=True)

In [28]:
df.show()

+----+---+---+
|name|age|exp|
+----+---+---+
|   A| 30|  3|
|   B| 20|  4|
|   C| 40|  5|
+----+---+---+

In [29]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [32]:
df = spark.read.csv('data.csv', header=True, inferSchema=True)

In [33]:
type(df)

pyspark.sql.dataframe.DataFrame

In [34]:
df.columns

['name', 'age', 'exp']

In [35]:
df.head(3)

[Row(name='A', age=30, exp=3),
 Row(name='B', age=20, exp=4),
 Row(name='C', age=40, exp=5)]

In [37]:
n = df.select('name')

In [38]:
n

DataFrame[name: string]

In [39]:
n.show()

+----+
|name|
+----+
|   A|
|   B|
|   C|
+----+

In [40]:
type(n)

pyspark.sql.dataframe.DataFrame

In [41]:
df.select(['name', 'exp']).show()

+----+---+
|name|exp|
+----+---+
|   A|  3|
|   B|  4|
|   C|  5|
+----+---+

In [43]:
df['name']

Column<'name'>

In [45]:
df.filter("age>20").select("name","age").show()

+----+---+
|name|age|
+----+---+
|   A| 30|
|   C| 40|
+----+---+

In [47]:
df.filter(df['exp'] >3 ).show()

+----+---+---+
|name|age|exp|
+----+---+---+
|   B| 20|  4|
|   C| 40|  5|
+----+---+---+

In [49]:
df.filter((df['exp'] >3) & (df['age']< 35)).show()

+----+---+---+
|name|age|exp|
+----+---+---+
|   B| 20|  4|
+----+---+---+

In [50]:
df.filter((df['exp'] >3) | (df['age']< 35)).show()

+----+---+---+
|name|age|exp|
+----+---+---+
|   A| 30|  3|
|   B| 20|  4|
|   C| 40|  5|
+----+---+---+

In [51]:
df.filter(~(df['exp'] >3)).show()

+----+---+---+
|name|age|exp|
+----+---+---+
|   A| 30|  3|
+----+---+---+

In [53]:
df = spark.read.csv('salaries.csv',header=True,inferSchema=True)

In [54]:
df.show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|   K|  DS| 10000|
|   K| IOT|  5000|
|   M|  BD|  4000|
|   K|  BD|  4000|
|   M|  DS|  3000|
|   S|  DS| 20000|
|   S| IOT| 10000|
|   S|  BD|  5000|
|  S1|  DS| 10000|
|  S1|  BD|  2000|
+----+----+------+

In [55]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: integer (nullable = true)

In [59]:
## groupby
df.groupBy('name').sum().show()

+----+-----------+
|name|sum(salary)|
+----+-----------+
|   K|      19000|
|   M|       7000|
|   S|      35000|
|  S1|      12000|
+----+-----------+

In [61]:
# which dpt give highest salary
df.groupBy('dept').sum().show()

+----+-----------+
|dept|sum(salary)|
+----+-----------+
| IOT|      15000|
|  BD|      15000|
|  DS|      43000|
+----+-----------+

In [62]:
df.groupBy('dept').mean().show()

+----+-----------+
|dept|avg(salary)|
+----+-----------+
| IOT|     7500.0|
|  BD|     3750.0|
|  DS|    10750.0|
+----+-----------+

In [63]:
df.groupBy('dept').count().show()

+----+-----+
|dept|count|
+----+-----+
| IOT|    2|
|  BD|    4|
|  DS|    4|
+----+-----+

In [64]:
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+