In [1]:
import pandas as pd

In [2]:
df_csv = pd.read_csv("example-1.csv", header=None)

df_csv

          0          1       2
0    Branch       Date  Amount
1  Branch A  January 1  500.00
2  Branch B  January 2  250.00
3  Branch A  January 3  300.00

In [3]:
df_csv.to_csv("data.csv", index=None)